.About {
  display: block;
  position: relative;
  padding: 100px;
  /* why is that padding needed? */
  background-color: #0000;
};

.About-p-list-intro {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.About-unmarked-list {
  padding-top: 0px;
  margin-top: 0.5rem;
  list-style: none;
}
