
.Front {
    display: block;
    position: relative;
    margin-top: 60px;
}

.section-header {
    margin: 20px 0px 20px 0px;
    padding: 0px;
    display: block;
    top: 500px;
    font-size: 2rem;
    color: black;
    background-color: #e5e7e1;
    left: auto;
    border: #e5e7e1cc 2px solid;
    border-radius: 5px;
}

.section {
    display: block;
    position: relative;
    background-color: #0000;
    padding-bottom: 4em;
  }
  
.block {
    color: black;
    background-color: #e5e7e1aa;
    margin: 0px;
    padding: 5px 5px 10px 5px;
    border: #e5e7e1cc 2px solid;
    border-radius: 5px;
}

.text {
    text-align: left;
}
