.Home {
	background-color: #0000
}

.Home-img-h1 {
	position: absolute;
	left: auto;
	top: 0px;
	transform: translate(-50%,0);
	z-index: 10;
	border-radius: 1em;
}

.Home-header {
	display: inline-block;
	font-size: 3rem;
	color: black;
	background-color: #e5e7e1aa;
	left: auto;
	border-radius: 3rem;
	padding: 7px 20px;
}

.Home-img-bg {
	opacity: 0.6;
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
	z-index: -10;
}

.Home div.Home-text {
	position: relative;
	top: 10rem;	
	text-align: center;
	z-index: 20;
}

#Home-one-liner {
	font-size: 1rem;
}